/* styles.scss o nel tuo file CSS */

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1C1C1C;

}

.home-container {
  height: 100vh; /* Imposta l'altezza al 100% della viewport */
  width: 100vw;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);

}

.video-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw; /* Imposta la larghezza al 100% della viewport */
  height: 100%;
  overflow: hidden;
}

img { /* Usa il selettore per l'immagine */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.96;
}

.overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(54.25%); /* Regola la quantità di sfocatura desiderata */
  background: radial-gradient(45.77% 45.75% at 49.36% 54.25%, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
  z-index: 2; /* Assicura che la sfocatura sia sopra l'immagine */
}


.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; /* Assicura che la navbar sia sopra la sfocatura */
}

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Assicura che il messaggio sia sopra l'effetto di sfocatura */
}

h1 {
  color: #FFF;
  justify-content: center;
  font-family: 'Raleway';
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
}

h2 {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}




/* Aggiungi media query per gestire la disposizione su schermi più larghi */
@media (min-width: 768px) {
  .input-group {
      flex-direction: row; /* Disposizione in riga per schermi più larghi */
  }

  .input-group > .input-prepend {
      margin-right: 10px; /* Aggiungi uno spazio tra gli input */
  }
}

/* home.component.scss */
.explore-button {
  background-color: #D24C00;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Aggiungi questo al tuo file di stili (styles.scss o styles.css) */
h1 {
  color: #FFF;
  justify-content: center;
  font-family: 'Raleway';
  flex-direction: column;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 0rem */
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Aggiungi questo al tuo file di stili (styles.scss o styles.css) */
.explore-section {
  position: absolute;
  bottom: 20px; /* Posiziona la sezione sopra il fondo con uno spazio dal basso */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 100; /* Assicura che sia sopra gli altri elementi */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-icon {
  font-size: 48px !important; /* Aumenta la dimensione dell'icona */
  color: #FFF; /* Colore dell'icona */
}

.explore-text {
  font-size: 18px;
  color: #FFF; /* Colore del testo */
  margin-top: 8px; /* Spazio tra l'icona e il testo */
}






/**************************Explore******************************/
/* new-page.component.scss */

/* beach-list.component.scss */
.container {
  padding: 20px;
  margin-top: 100px;
}

.title {
  color: #000;
  font-family: 'Raleway';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.filter-button {
  float: right;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 378px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-text {
  font-size: 1rem;
  color: #333;
}

.mat-dialog-content {
  position: relative;
}

.dialog-actions {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-dialog-content > mat-label {
  margin-top: 10px;
}

.button-modifica {
  display: flex;
  width: 116px;
  height: 2.375rem;
  padding: 0rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: linear-gradient(92deg, #B83B5E 9.9%, #D24C00 95.39%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.error-container {
  margin-top: 20px; /* Aggiungi un margine sopra per separarlo dalla sezione precedente */
  text-align: center; /* Centra il contenuto orizzontalmente */
}

.dynamicBtn {
  cursor: pointer;
}

.dynamicBtn:hover {
  filter: brightness(110%);
}

.dynamicBtn:active {
  filter: brightness(90%);
}


