<h1 mat-dialog-title>Filtri</h1>
<div mat-dialog-content>
    <mat-label>Località</mat-label>
    <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Dove vuoi andare?" [(ngModel)]="location" style="text-align: left">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-label>Servizi</mat-label>
    <mat-chip-listbox aria-label="Servizi" multiple>
        <mat-chip-option color="accent" *ngFor="let service of services" (click)="toggleSelection(service)">{{ service.name }}</mat-chip-option>
    </mat-chip-listbox>
</div>

<div mat-dialog-actions class="dialog-actions" style="position: absolute; bottom: 0; width: 100%; display: flex; justify-content: space-between; color: white">
    <div>
        <div  class=" button-modifica btn-text dynamicBtn" (click)="closeDialog()">Cerca</div>
    </div>
</div>
