<h1 mat-dialog-title>Filtri</h1>
<div mat-dialog-content>
    <mat-label>Località</mat-label>
    <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Dove vuoi andare?" [(ngModel)]="location">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-label>Servizi</mat-label>
    <mat-chip-listbox aria-label="Servizi" multiple>
        <mat-chip-option color="accent" *ngFor="let service of services" (click)="toggleSelection(service)">{{ service.name }}</mat-chip-option>
    </mat-chip-listbox>
</div>
<div mat-dialog-actions class="dialog-actions" style="position: absolute; bottom: 0; width: 100%;">
    <div class="btn button-modifica d-flex align-items-center justify-content-center button-text" (click)="closeDialog()"> Cerca </div>
</div>
