
<div class="container-fluid">
  <div class="navbar-container">
    <app-navbar></app-navbar>
  </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!isLoading" class="container-lg justify-content-center align-items-center ">
      <div class="row mt-5 gx-5 align-items-center">
        <!-- Column left -->
        <div class="col-lg-8" style="margin-top: 120px;">
            <!-- Header -->
          <div class="row justify-content-lg-start">
              <div class="col">
                <div class="row title">
                  {{ resortFull.name }}
                </div>

              <!-- Location and Rating -->
              <div class="row mt-3">
                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="d-flex align-items-center">
                        <mat-icon matSuffix>location_on</mat-icon>
                        <p class="mb-0 ms-2">{{ resortFull.location }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex align-items-center">
                        <mat-icon>star</mat-icon>
                        <p class="mb-0 ms-2">{{ resortFull.rating }}</p>
                    </div>
                    <a  [routerLink]="['/resort-page?id={{resortFull.id}}']" fragment="recensioni"><u>Leggi recensioni</u></a>
                </div>
              </div>

              </div>
          </div>


          <!-- Image gallery -->
          <div class="row mt-5 text-center g-0">
            <div class="col img-container-lg image-container-lg">
              <img src="https://www.frescura.life/templates/yootheme/cache/0P5A2609-984a5af2.jpeg" class="rounded object-fit: cover object-position: center" alt="...">
            </div>

            <div class="col img-container-lg justify-content-center">
              <div class="row  row-cols-2 g-0">
                <div class="col order-1  img-container image-container-sm ">
                  <img src="https://www.frescura.life/templates/yootheme/cache/0P5A2609-984a5af2.jpeg" class="rounded object-fit: cover object-position: center" alt="Immagine piccola 1">
                </div>
                <div class="col order-1  img-container image-container-sm ">
                  <img src="https://www.frescura.life/templates/yootheme/cache/0P5A2609-984a5af2.jpeg" class="rounded object-fit: cover object-position: center" alt="Immagine piccola 2">
                </div>
                <div class="w-100"></div>
                <div class="col-6 img-container image-container-sm ">
                  <img src="https://www.frescura.life/templates/yootheme/cache/0P5A2609-984a5af2.jpeg" class="rounded object-fit: cover object-position: center" alt="Immagine piccola 3">
                </div>
                <div class="col-6 img-container image-container-sm ">
                  <img src="https://www.frescura.life/templates/yootheme/cache/0P5A2609-984a5af2.jpeg" class="rounded object-fit: cover object-position: center" alt="Immagine piccola 4">
                </div>
              </div>
            </div>
          </div>




            <div class="row mt-5 gx-5">
                <div class="col">
                    <!-- Services and Information -->
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="section-title">Servizi</div>
                            <ul>
                                <li *ngFor="let service of resortFull.services">{{ service.name }}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="section-title">Da sapere</div>
                            <div class="row mt-1">
                                <div class="col-2">
                                    <mat-icon matSuffix>phone</mat-icon>
                                </div>
                                <div class="col-10">
                                    <p>{{ resortFull.phoneNumbers }}</p>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-2">
                                    <mat-icon matSuffix>schedule</mat-icon>
                                </div>
                                <div class="col-10">
                                    <p>{{ resortFull.timeTables }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Row Descrizione -->
              <div class="row mt-5">
                <div class="col">
                  <div class="section-title">
                    Descrizione
                  </div>
                 <p>{{ resortFull.description }}</p>
                </div>
              </div>


              <!-- Row Eventi //TODO: horizontal scrollable-->
              <div class="row mt-5">
                  <div class="section-title">
                    Prossimi eventi
                  </div>

                  <div>
                    <div *ngIf="resortFull.events.length === 0" class="mt-3">
                      <h3>Non ci sono eventi in programma</h3>
                    </div>
                  </div>

                  <div class="row row-cols-lg-auto g-3 align-items-center">
                      <div *ngFor="let event of resortFull.events">
                          <div class="col-12">
                              <div class="card" style="width: 15rem">
                                  <div class="card-body d-flex flex-column">
                                      <div class="row">
                                          <h2 class="card-title"> {{event.name}} </h2>
                                      </div>
                                      <div class="row">
                                          <h3>{{ event.initialDateTime | date:'EEEE, MMMM d, y, h:mm a' }}</h3>
                                      </div>
                                      <div class="row">
                                          <p> {{ event.description }}</p>
                                      </div>
                                      <div class="row mt-1 mb-3 align-items-center">
                                          <div class="col-2">
                                              <mat-icon matSuffix>schedule</mat-icon>
                                          </div>
                                          <div class="col-10">
                                              <p> {{ event.duration }} minuti</p>
                                          </div>
                                      </div>
                                      <div *ngIf="!event.isFull" class="mt-auto button-select">
                                          <div class="btn d-flex align-items-center justify-content-center button-text" (click)="enrollToEvent(event)">Iscriviti</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>


              <!-- Row Recensioni -->
              <div class="row mt-5">
                <div class="col">
                  <div class="section-title mb-3">
                    Recensioni
                  </div>

                  <!-- Scrivi una recensione -->
                  <div id="recensioni" class="row" >
                    <mat-form-field class="example-full-width"  appearance="outline">
                      <mat-label>Scrivi una recensione</mat-label>
                        <textarea matInput placeholder="Descrivi la tua esperienza" id="yourTextareaId" (input)="onTextareaInput($event)"></textarea>
                    </mat-form-field>
                  </div>

                  <div class="mt-3" *ngFor="let review of resortFull.reviews">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="review-username">{{ review.username }}</div>
                                    <div class="review-date">{{ formatDate(review.date) }}</div>
                                </div>
                                <div class="col-12 col-sm-6 d-flex justify-content-end">
                                    <div class="review-rating">
                                        <ng-container *ngFor="let star of getStarArray(review.rating)">
                                            <mat-icon>star</mat-icon>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                  <div class="review-text">{{ review.bodyReview }}</div>
                              </div>
                          </div>
                        </div>

                    </div>
                </div>
                </div>
                </div>
            </div>


          <div class="col-lg-4">
              <!-- Colonna sticky -->
              <div class="col-6 sticky-column">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                          <div class="row">
                              <h2 class="card-title">Quando?</h2>
                          </div>
                          <div class="row">
                              <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Choose a date</mat-label>
                                  <input matInput [matDatepicker]="p2" [value]="selectedDate" (dateChange)="setDate($event)">
                                  <mat-datepicker-toggle matIconSuffix [for]="p2"></mat-datepicker-toggle>
                                  <mat-datepicker touchUi #p2 color="primary" panelClass="datepickerOne"></mat-datepicker>
                              </mat-form-field>
                          </div>

                          <h2 class="card-title">Aggiungi persone</h2>
                          <div class="counter-container">
                              <button mat-icon-button (click)="decrement()">
                                  <mat-icon>remove</mat-icon>
                              </button>
                              <input matInput [(ngModel)]="people" readonly>
                              <button mat-icon-button (click)="increment()">
                                  <mat-icon>add</mat-icon>
                              </button>
                          </div>
                          <div class="button-select mt-3">
                              <div class="btn d-flex align-items-center justify-content-center button-text" (click)="openDialog()">Prenota</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <div class="bottom-bar">
      <div class="bottom-bar-item date-picker">
        <!-- Date Picker -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="p3" [value]="selectedDate" (dateChange)="setDate($event)">
          <mat-datepicker-toggle matSuffix [for]="p3"></mat-datepicker-toggle>
          <mat-datepicker touchUi #p3 color="primary" panelClass="datepickerOne"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="bottom-bar-item">
        <!-- Counter per aggiungere persone -->
        <div class="counter-container">
          <button mat-icon-button (click)="decrement()">
            <mat-icon>remove</mat-icon>
          </button>
          <input matInput [(ngModel)]="people" readonly>
          <button mat-icon-button (click)="increment()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="bottom-bar-item">
        <!-- Bottone per prenotare -->
        <div class="button-select">
          <div class="btn d-flex align-items-center justify-content-center button-text" (click)="openDialog()">Prenota</div>
        </div>
      </div>
    </div>
    
    <app-footer></app-footer>
  </div>

