<div class="center-content"  style="padding: 0 20px;">
    <form class="form mt-3 p-3"> <!-- Aggiungi classe mt-3 al form -->
        <div class="row align-items-center">
            <div class="col-auto">
                <h2>Aggiungi una valutazione</h2>
            </div>
            <div class="col">
                <div class="rating-container">
                    <mat-icon class="star" *ngFor="let star of stars" (click)="setRating(star)" [style.color]="star <= currentRating ? 'gold' : 'gray'">star</mat-icon>
                </div>
            </div>
        </div>
        <mat-form-field class="full-width mt-2" appearance="outline">
            <mat-label>Titolo recensione</mat-label>
            <input matInput placeholder="Inserisci un titolo per la recensione" [(ngModel)]="title" name="title" style="color: #D24C00; text-align: left;">
        </mat-form-field>



        <mat-form-field class="full-width" appearance="outline">
            <mat-label>La tua esperienza</mat-label>
            <textarea matInput placeholder="Descrivi la tua esperienza" [(ngModel)]="bodyReview" name="bodyReview"></textarea>
        </mat-form-field>
        <div class="button-select"> <!-- Rimuovi classe mt-auto dal bottone -->
            <div class="btn d-flex align-items-center justify-content-center button-text" (click) = "onSubmit()">Invia</div>
        </div>
    </form>
</div>
