<body>
    <div class="navbar-container">
        <app-navbar></app-navbar>
    </div>
  
    <div class="container  d-flex align-items-center justify-content-center">
        <div class="row row-cols-md-2 gx-md-5">
            <!-- Left col -->
            <div class="hidden-on-mobile col-md mt-5 left-col card d-flex flex-column justify-content-between align-items-center">
                <div class="row">
                    <div class="col-auto text-center">
                        <div class="row mt-5 justify-content-center align-items-center">
                            <div class="profile-img">
                                <div class="initial">
                                    {{ userName ? userName.charAt(0).toUpperCase() : userMail.charAt(0).toUpperCase() }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="profile-name"> <div class="profile-surname"> {{ userName }}</div></div>
                        </div>
                        <div class="row">
                            <div class="profile-email">{{ userMail }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto">
                        <div class="row">
                            <div class="button-assistence mt-3 dynamicBtn" (click)="sendEmail()">Contattaci</div>
                        </div>
                        <div class="row mt-3 mb-5">
                            <div class="button-logout dynamicBtn" (click)="logOut()">Logout</div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Right col -->
            <div class="col-md mt-5">
                <div class="row r1 mb-3">
                    <div class="col">
                        <div class="row mt-2">
                            <div class="profile-name">Le mie <div class="profile-surname"> Prenotazioni</div></div>
                        </div>
                        <!-- Qui ngFor -->
                        <div class="row card-container text-center d-flex align-items-center justify-content-center" style="max-height: 400px; min-height: 200px; overflow-y: auto; overflow-x: hidden; display: inline-block;">
                            <div *ngIf="!finalReservations || finalReservations.length === 0" class="">
                                <p>Non hai nessuna prenotazione</p>
                            </div>

                            <div *ngFor="let res of finalReservations" class="col-auto item-event mt-2 mb-2 justify-content-start align-items-start" style="">
                                <div class="row">
                                    <div class="col-auto align-self-center align-items-center">
                                        <img [src]="res.isInProgress ? '../../assets/icon_pending.svg' : '../../assets/icon_inprogress.svg'" alt="booking" class="booking-img">
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-auto d-flex align-items-center mt-1">
                                                <mat-icon>place</mat-icon>
                                                {{ res.resName }}
                                            </div>

                                            <div class="col-auto d-flex align-items-center mt-1">
                                                <mat-icon>beach_access</mat-icon>
                                                Fila:{{ res.umbrellaLine }}
                                                Posto:{{ res.umbrellaColumn }}
                                            </div>
                                            <div class="col-auto  d-flex align-items-center mt-1">
                                                <mat-icon>spa</mat-icon>
                                                {{ res.numberOfSunbeds }}
                                            </div>
                                            <div class="col-auto  d-flex align-items-center mt-1">
                                                <mat-icon>calendar_month</mat-icon>
                                                {{ res.date }}
                                            </div>
                                            <!--<div class="col-auto">
                                                <mat-icon>local_parking</mat-icon>
                                                {{ res.parking ? 'Si' : 'No' }}
                                            </div>-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="row r1">
                    <div class="col">
                        <div class="row mt-2">
                            <div class="profile-name">I miei <div class="profile-surname"> Eventi</div></div>
                        </div>
                        <div class="row card-container text-center d-flex align-items-center justify-content-center" style="max-height: 400px; min-height: 200px; overflow-y: auto;overflow-x: hidden;">
                            <div *ngIf="!finalEvents || finalEvents.length === 0" class="text-center">
                                <p>Non hai nessuna iscrizione</p>
                            </div>
                            <div *ngFor="let eve of finalEvents" class="col-auto item-event-1 mt-2 mb-2 justify-content-start align-items-start" style="">
                                <div class="row">
                                    <div class="col-auto align-self-center ">
                                        <img [src]="eve.isInProgress ? '../../assets/icon_pending.svg' : '../../assets/icon_inprogress.svg'" alt="booking" class="booking-img">
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-auto d-flex align-items-center mt-1">
                                                <mat-icon>celebration</mat-icon>
                                                {{ eve.name }}
                                            </div>
                                            <div class="col-auto d-flex align-items-center mt-1">
                                                <mat-icon>calendar_month</mat-icon>
                                                {{ eve.date }}
                                            </div>
                                            <div class="col-auto d-flex align-items-center mt-1">
                                                <mat-icon>watch</mat-icon>
                                                {{ eve.hour }}
                                            </div>
                                            <div class="col-auto d-flex align-items-center mt-1">
                                                <mat-icon>schedule</mat-icon>
                                                {{ eve.duration }}
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="eve.isInProgress" class="col-auto align-self-center">
                                        <img [src]="'../../assets/edit_button.svg'" alt="booking" class="dynamicBtn"
                                             (click)="unsubscribeEvent(eve.id)"
                                             style="cursor: pointer;">
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
