/* Aggiungi regole per adattare il contenuto su schermi più piccoli */
@media (max-width: 430px) {
    .hidden-on-mobile {
        display: none;
    }
}

body {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1728 1117" fill="none"><g filter="url(%23filter0_f_509_1005)"><circle cx="1029" cy="737" r="489" fill="%23D24C00"/></g><g filter="url(%23filter1_f_509_1005)"><circle cx="1465" cy="602" r="274" fill="%23B83B5E"/></g><defs><filter id="filter0_f_509_1005" x="-10" y="-302" width="2078" height="2078" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="275" result="effect1_foregroundBlur_509_1005"/></filter><filter id="filter1_f_509_1005" x="891" y="28" width="1148" height="1148" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_509_1005"/></filter></defs></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* o scroll */
}

.left-col {
    border-radius: 0.9375rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    background: #FFF;
    z-index: 1;
}

.r1 {
    border-radius: 0.9375rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    background: #FFF;
    z-index: 1;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.profile-img {
    width: 14rem;
    height: 14rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: 5px solid var(--Fuscia, #B83B5E);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(92deg, #B83B5E 9.9%, #D24C00 95.39%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.initial {
    font-size: 9rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-family: Raleway;
}

.profile-name, .profile-surname {
    display: inline-block; /* Rende i div inline per allinearli sulla stessa riga */
}

.profile-name {
    color: #000;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-surname {
    color: #000;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-email {
    line-height: normal;
    color: #000;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-assistence {
    display: flex;
    width: 200px;
    height: 50px;
    padding: 1rem 5.9375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: linear-gradient(92deg, #B83B5E 9.9%, #D24C00 95.39%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Raleway;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-logout {
    width: 200px;
    height: 50px;
    display: inline-flex;
    padding: 1rem 5.9375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    background: linear-gradient(92deg, #730101 9.9%, #BE0A0A 95.39%);
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Raleway;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item-event {
    display: flex;
    padding: 0.9375rem 1.875rem;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 1.0rem;
    background-color: transparent !important;
    box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


